.PrimaryButtonRenderer {
    background-color: #007ff4 !important;
    text-transform: none !important;
    font-family: 'Nunito', sans-serif !important;
    font-size: 0.875em !important;
}

Button {
    text-transform: none !important;
    font-family: 'Nunito', sans-serif !important;
    font-size: 0.875em !important;
}