.emptyList {
    min-height: 30vh;
}

.emptyListCard {
    min-width: 30vh;
    font-family: 'Nunito', sans-serif !important;
    font-size: 0.85em !important;
    color: #87898C;
}

.productListHeader {
    max-width: 180vh !important;
    min-width: 100vh !important;
}

.mainLabel {
    font-family: 'Nunito', sans-serif !important;
    color: #000000 !important;
    font-size: 1em !important;
}

.HeaderTools {
    max-width: 180vh !important;
    min-width: 100vh !important;
}