.AddItemTitle {
    background: #FAFAFA !important;
    font-family: 'Dosis', sans-serif !important;
    font-style: normal;
    color: #5C6269;
    text-transform: none !important;
}

.AddEditDialog {
    min-height: 100vh !important;
}

.ActionDescription {
    font-family: 'Nunito', sans-serif !important;
    color: #2A323C;
    font-size: 1em;
}

.ActionHelper {
    font-family: 'Nunito', sans-serif !important;
    color: #5C6269;
    font-size: 0.88em;
}

Checkbox.label {
    font-family: 'Nunito', sans-serif !important;
    color: #2A323C;
    font-size: 1em;
}